.card {
  width: 250px;
  margin: 25px;
}

.types {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  color: #6818a5;
}

.badge {
  margin-right: 24px;
}

@media (max-width: 480px) {
  .card {
    width: 330px;
  }
}
